body {
    background-image: url(../imagens/binoculars.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    color: red;
}
h2{
    color: yellow;
}